{% extends "base.html" %}
{% set page_title = 'Forgot password' %}
{% set page_class = 'sign-in' %}

{% block content %}
<section class="text-center">
  <h1>Forgot your password?</h1>
  <p>Don't worry, we forget stuff at times too, like we have a giant spinning light at the top of the building.</p>
  <p>Just enter your email address below and we'll help you get back into the Lighthouse. 😊</p>
</section>

<section class="w-full max-w-lg mx-auto mt-6">
  {% include "partials/root/forms/form-forgot-password.html" %}
</section>
{% endblock %}
