<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lighthouse</title>
  <link rel="stylesheet" href="../../src/static/build/style.min.css">
</head>
<body class="font-serif tracking-wider font-semibold">
  <div class="bg-red-700 p-6">
    <h1 class="text-white pb-3">Lighthouse</h1>
    <div class="bg-white py-32 mb-1">
      <h2 class="text-blue-900 text-4xl text-center -mt-20 pb-10">Sign In</h2>
      <!--Error message-->
      <!--
      <div class="pb-10">
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Oh no!</strong>
        <span class="block sm:inline">Username or password is incorrect.</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div>
      </div>
    -->
      <div class="w-full max-w-lg mx-auto">
        <form class="bg-white border shadow-lg rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">
            <label class="block text-blue-900 text-xl font-bold mb-2" for="username">
            Username
            </label>`
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" name="username" placeholder="Username">
            </div>
          <div class="mb-6">
            <label class="block text-blue-900 text-xl font-bold mb-2" for="password">
            Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" placeholder="******************">
          </div>
          <div class="mb-6">
            <label>
              <input type="checkbox">
              <span class="ml-2 text-blue-900">Remember me</span>
            </label>
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-900 hover:opacity-75 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Sign In
            </button>
            <a href="password.html" class="text-blue-900 underline hover:text-red-700 hover:no-underline">Forgot Password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>