<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lighthouse</title>
  <link rel="stylesheet" href="../../src/static/build/style.min.css">
</head>
<body class="font-serif tracking-wider font-semibold">
  <div class="bg-red-700 p-6">
    <h1 class="text-white pb-3">Lighthouse</h1>
    <div class="bg-white py-32 mb-1">
      <h2 class="text-blue-900 text-4xl text-center -mt-20 pb-12">Forgot Your Password?</h2>
      <div class="w-full max-w-lg mx-auto">
        <form class="bg-white border shadow-lg rounded px-8 pt-6 pb-10 mb-4">
          <div class="mb-6">
            <label class="block text-blue-900 text-xl font-bold mb-2" for="email">
            Email Address
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" name="email" placeholder="Email">
            </div>
            <div class="mb-6">
              <label class="block text-blue-900 text-xl font-bold mb-2" for="comments">
              Comments:
              </label>
              <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline" id="comments" type="text" name="comments" placeholder="Comments"></textarea>
              </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-900 hover:opacity-75 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
            Submit
            </button>
            <a href="login.html" class="text-blue-900 underline hover:text-red-700 hover:no-underline">Return back to login page</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>