<script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.2.10/jodit.min.js"></script>
<script>
  "use strict";
  const JODIT_EDITOR_CONFIG = {
    "language": "en",
    "buttons": "bold,underline,italic,|,ul,ol,paragraph,|,link,undo,redo",
    "showCharsCounter": false,
    "showWordsCounter": false,
    "showXPathInStatusbar": false,
    "disablePlugins": "xpath,font,justify,imageProcessor,imageProperties,iframe,fullsize,color,inlinePopup,resizer,source,symbols,table,tableKeyboardNavigation,search,sticky,stat,DragAndDrop,pasteStorage"
  };
</script>