<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ APP_NAME }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template-style.css') }}">
  {% block page_styles %}{% endblock %}
</head>

<body>
  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

  <main id="content" class="landing">
    <div id="inner-wrapper" class="container-fluid col-sm-12 col-md-11">
      <div class="row mainHeader">
        <div class="col-sm-12">
          <h1 id="appTitle">{{ APP_NAME }}</h1>
        </div>
      </div>

      <div class="row">
        <section class="col-12 col-sm-7 col-md-8 col-lg-9 col-xl-10 order-sm-1">
          <div class="mainContent pl-0" id="main">
            {% block content %}{% endblock %}
          </div>
        </section>
      </div>
    </div>
  </main>

  {{ JSGlue.include() }}
  <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  {% block page_scripts %}{% endblock -%}
</body>

</html>