<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page_title }} &mdash; {{ APP_NAME }}</title>

  {#- Favicon #}
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-touch-icon-114x114.png') }}">

  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="stylesheet" crossorigin="anonymous" href="http://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700&display=swap">
  <link rel="stylesheet" href="{{ url_for('static', filename='build/style.min.css') }}">
  {% block page_styles %}{% endblock %}
</head>

<body class="page-{{ page_class|default('') }}">
  <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

  {% include "partials/header.html" %}

  <main id="content">
    {% include "partials/flash-message.jinja2" %}

    {% block content %}{% endblock -%}
  </main>

  {% include "partials/footer.html" %}

  {{ JSGlue.include() -}}
  {# <script crossorigin="anonymous" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -#}
  {% block page_scripts %}{% endblock -%}
</body>
</html>
