.simplepicker-date-picker {
  @apply font-sans !important;
}

/* Use the navy color */
.simplepicker-day-header,
.simplepicker-date-section,
.simplepicker-calender tbody .active::after,
.simplepicker-calender tbody td:active::after {
  background-color: #041e42 !important;
  padding-bottom: 5px;
}

/* Cancel/OK button hover states */
.simplepicker-btn:active,
.simplepicker-btn:hover {
  background-color: #041e42 !important;
}

/* Tighten the date spacing */
.simplepicker-date-section .simplepicker-month-and-year,
.simplepicker-date-section .simplepicker-date {
  @apply p-0 !important;
  @apply mb-0 !important;
}
